@font-face {
  font-family: Helvetica;
  src: url('./assets/Fonts/HelveticaUltraLt_0.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./assets/Fonts/Roboto-Light_0.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/Fonts/Roboto-Regular_0.ttf');
}

@font-face {
  font-family: ps;
  src: url(./assets/Fonts/ps.ttf);
}

:root {
  /*---------- CORES ----------*/

  --first-color: #29abe2;
  --second-color: #012d51;
  --third-color: #808080;

  /*---------- FONTE E TIPOGRAFIA ----------*/
  --robotoL-font: "Roboto-Light", sans-serif;
  --robotoR-font: "Roboto-Regular", sans-serif;
  --helvetica-font: "Helvetica", sans-serif;
  --ps-font: "ps", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  background-color: var(--first-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  color: var(--first-color);
  font-family: var(--Helvetica-font);
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/*---------- PONTOS DE QUEBRA ----------*/

/* telas largas */
@media screen and (min-width: 850px) and (max-width: 1100px) {
  
}


/* telas medias */
@media screen and (min-width:768px) and (max-width: 849px) {
  
}

@media screen and (min-width:600px) and (max-width: 767px){

}

/* telas pequenas */
@media screen and (min-width:350px) and (max-width:599px) {
  
}